<div>
    <!-- 澶撮儴鏍囬鍖哄煙 -->
    <div class="modal-header">
    <span class="modal-title">
    </span>
        <img ng-click="cancel()" src="images/close.png">
    </div>
    <!-- 琛ㄥ崟鍖哄煙 -->
    <div class="modal-body"><div class="modal-confirm" style="word-break:break-all; word-wrap:break-all;">{{msg}}</div></div>
    <!-- 鎸夐挳鍖哄煙 -->
    <div class="modal-footer">
        <button class="btn btn-primary btn-modal" ng-click="ok()">确  定</button>
        <button class="btn btn-default btn-modal" ng-click="cancel()" style = "margin-left:15px;">取  消</button>

    </div>
</div>
