<h4>权限管理</h4>
<form class="form-inline">
    <button class="btn btn-primary" data-ng-click="list.add()" ng-if="hasPermission('sys_auth_create')">
        <span class="glyphicon glyphicon-plus"></span> 创建权限
    </button>
</form>
<eayun-table data-api="list.table.api" data-ajax-source="list.table.source"
             data-param="list.table.getParams"
             data-result="list.table.result">
    <table class="table table-eayun">
        <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>许可</th>
            <th>是否启用</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="auth in list.table.result">
            <td ng-bind="::auth.name"></td>
            <td ng-bind-html="::auth.description | ellipsis:20"></td>
            <td ng-bind-html="list.fmtPermission(auth.permission)" style="text-align: left;padding-left:25px;"></td>
            <td ng-bind="::auth.enableFlag=='1'?'已启用':'未启用'"></td>
            <td>
                <button class="btn btn-tablemng btn-first" ng-click="list.edit(auth)" ng-if="hasPermission('sys_auth_modify')">编辑</button>
                <button class="btn btn-tabledel" ng-click="list.delete(auth.id)" ng-if="hasPermission('sys_auth_delete') &&  auth.lock == '0'">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--<eayun-table-page></eayun-table-page>-->
</eayun-table>
