/* 基础样式 */
body {
    padding: 0;
    background-color: #EEEEEE;
    font-size: 12px;
    font-family: "微软雅黑", "Microsoft YaHei", "Arial", serif !important;
}

.header,
.marketing {
    padding-left: 0;
    padding-right: 0;
    height: 50px;
}

.footer {
    border-top: 1px solid #DCDCDC;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* textarea start */
textarea {
    resize: none;
}

/* textarea end */

.pointer {
    cursor: pointer;
    pointer-events: auto;
}

/** 修改bootstrap中样式 */
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.form-inline {
    margin-bottom: 20px;
}

.navbar-right {
    margin-right: 0;
}

.control-label {
    font-size: 14px;
    color: #555555;
    font-weight: normal;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 15px;
}

.form-group span {
    font-size: 12px;
}

fieldset {
    margin-bottom: 20px;
}

.help-block {
    font-size: 12px;
}

.progress {
    height: 15px;
    margin-bottom: 25px;
    background-color: #f8f8f8;
}

h4 {
    font-weight: bold;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.alert {
    color: #555555 !important;
    border-color: transparent;
}

.divider {
    border-top: 1px solid #DDDDDD;
    margin: 10px 0;
}

/* panel样式 start */
.panel {
    margin-bottom: 15px;
}

.panel-body {
    padding: 20px;
}

/* panel样式 end */
.list-group-eayun {
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    padding: 5px;
    min-width: 260px;
    height: 300px;
    display: block;
    overflow-y: auto;
}

.list-group-eayun .list-group-item {
    border-width: 0;
}

.list-group-eayun .list-group-item .glyphicon {
    float: right;
}

.list-group-eayun .list-group-item:nth-child(2n) {
    background-color: #e3e3e3;
}

.select-list-md {
    height: 300px;
    vertical-align: middle;
    line-height: 300px;
    text-align: center;
    padding-top: 20px;
}

.progress-bar {
    height: 15px;
    border-radius: 4px;
}

/* detail详情页当中的项目样式 start */
.details {
    margin-bottom: 5px;
    background-color: #FAFAFA;
    padding: 5px 10px;
}

.details-group {
    margin: 5px;
    padding: 5px 10px;
    border-bottom: 1px dashed #e3e3e3;
    /*height: 40px;*/
    vertical-align: middle;
    display: block;
}

.details-name {
    width: 120px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    color: #999999;
    float: left;
}

.details-value {
    min-height: 34px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    color: #555555;
    max-height: 170px;
    display: inline-block;
}

.details-value.multi {
    overflow: auto;
    display: block;
}

.details-group .badge {
    background-color: #e3e3e3;
    color: #555555;
    padding: 5px;
    margin-top: 6px;
    border-radius: 15px;
    float: right;
    cursor: pointer;
}

.detail-btn-left {
    margin-left: 15px !important;
}

/* detail详情页当中的项目样式 end */

/* title-inline当前位置面包线样式 start */
.title-inline .form-group {
    margin-bottom: 15px;
}

.title-inline .control-label {
    margin-bottom: 0px;
    vertical-align: middle;
}

/* title-inline当前位置面包线样式 end */

/* 蓝色链接字 start */
.click-link {
    color: #07C;
    cursor: pointer;
}

/* 蓝色链接字 end */

/* 颜色样式 start */
.color-require {
    color: red;
}

.color-error {
    color: #EA3200;
}

.color-success {
    color: #06CE06;
}

.color-warning {
    color: #FFF9F0;
}

.color-info {
    color: #58b8f0;
}

.color-blue {
    color: #0077cc;
}

.bg-error {
    background-color: #EA3200;
}

.bg-success {
    background-color: #E6FFE1;
}

.bg-warning {
    background-color: #FFF9F0;
}

.bg-info {
    background-color: #58b8f0;
}

.bg-blue {
    background-color: #0077cc;
}

/* 颜色样式 end */

/* 文本框 start */
input {
    background-color: #ffffff;
    border-color: #dcdcdc
}

input[disabled] {
    background-color: #f8f8f8;
    border-color: #ececec
}

input[readonly] {
    background-color: #ffffff !important;
}

input::-ms-clear {
    display: none;
}

/* 文本框 end */

/* 去掉Chrome的默认边框效果 start */
*:focus {
    outline: none !important;
}

/* 去掉Chrome的默认边框效果 end */

/* 二级菜单 start */
.second-menu-page {
    position: relative;
}

.second-menu {
    width: 150px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #555555;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.second-menu-target {
    line-height: 25px;
    vertical-align: middle;
    cursor: pointer;
    text-indent: 28px;
    border-left: 2px solid transparent;
}

.second-menu-target.active {
    color: #0077cc;
    font-weight: bold;
    border-color: #0077cc;
}

.second-menu-item {
    border-left: 2px solid transparent;
    line-height: 25px;
    vertical-align: middle;
    text-indent: 40px;
    cursor: pointer;
}

.second-menu-item.active {
    color: #0077cc;
    font-weight: bold;
    border-color: #0077cc;
}

.second-menu-right {
    margin-left: 165px;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    min-height: 750px;
}

.second-menu .icon {
    background-image: url("../images/leftmenu.png");
    background-size: 112px 32px;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
}

.second-menu .icon.toggle {
    background-position: -96px -16px;
}

.second-menu .open .icon.toggle {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
    -o-transform: rotate(180deg); /* Opera */
}

.second-menu {
    font-size: 12px;
}

/* 二级菜单 end */
/* 资源监控数据变化颜色样式 start */
.diff-enlarge {
    color: #ff7272;
}

.diff-reduce {
    color: #06ce06;
}

/* 资源监控数据变化颜色样式 end */
/* 显示底层资源列表状态的小方框 start */
.state-block {
    width: 11px;
    height: 11px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.green {
    background: url("../images/icons/status-normal.png") no-repeat center;
}

.space {
    background: url("../images/icons/status-space.png") no-repeat center;
}

.yellow {
    background: url("../images/icons/status-warnning.png") no-repeat center;
}

.gray {
    background: url("../images/icons/status-gray.png") no-repeat center;
}

.red {
    background: url("../images/icons/status-error.png") no-repeat center;
}

/* 显示底层资源列表状态的小方框 end */
/* 步骤样式 start */
.step {
    color: #999999;
    display: inline-block;
    font-size: 12px;
}

.step span {
    background-color: #eaeaea;
    padding: 4px 11px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;

}

.step div {
    width: 70px;
    border: 4px solid #eaeaea;
    display: inline-block;
    margin: 0 -5px;
    padding: 0;
}

.step p {
    margin-top: 5px;
}

.step.active {
    color: #0077CC;
}

.step.active span {
    background-color: #0077CC;
    color: #FFFFFF;
}

.step.active div {
    border: 4px solid #0077CC;
}

/* 步骤样式 end */
/* 按钮嵌入图标 start */
.btn-icon {
    width: 20px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.table-icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.detail-icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 6px;
}

/* 按钮嵌入图标 end */
/* 云主机按钮列表 start */
.start {
    background: url("../images/icons/btn-play-b.png") no-repeat center;
}

.poweroff {
    background: url("../images/icons/btn-poweroff-b.png") no-repeat center;
}

.ellipsis {
    background: url("../images/icons/ellipsis.png") no-repeat center;
}

.soft-reset {
    background: url("../images/icons/btn-chngqi-b.png") no-repeat center;
}

.vmmonitor {
    background: url("../images/icons/vmmonitor-b.svg") no-repeat center;
}

.binding-volume {
    background: url("../images/icons/bindvolume-b.png") no-repeat center;
}

.binding-ip {
    background: url("../images/icons/btn-ip-b.png") no-repeat center;
}

.unbinding-ip {
    background: url("../images/icons/btn-quxiaoip-b.png") no-repeat center;
}

.hard-restart {
    background: url("../images/icons/btn-restart-b.png") no-repeat center;
}

.green {
    background: url("../images/icons/status-normal.png") no-repeat center;
}

.yellow {
    background: url("../images/icons/status-warnning.png") no-repeat center;
}

.gray {
    background: url("../images/icons/status-gray.png") no-repeat center;
}

.red {
    background: url("../images/icons/status-error.png") no-repeat center;
}

.delete {
    background: url("../images/icons/btn-delete-btn.png") no-repeat center;
}

.rubish {
    background: url("../images/icons/rubish.png") no-repeat center;
}

.volume-tags {
    background: url("../images/icons/btn-tags-b.png") no-repeat center;
}

.volume-snapshot {
    background: url("../images/icons/btn-mirro-b.png") no-repeat center;
}

.snapshot > span {
    background: url("../images/icons/btn-mirro-b.png") no-repeat center;
}

.snapshot:hover > span {
    background: url("../images/icons/btn-mirro-w.png") no-repeat center;
}

.scale > span {
    background: url("../images/icons/btn-scale-b.png") no-repeat center;
}

.scale:hover > span {
    background: url("../images/icons/btn-scale-w.png") no-repeat center;
}

.revert > span {
    background: url("../images/icons/btn-revert-b.png") no-repeat center;
}

.revert:hover > span {
    background: url("../images/icons/btn-revert-w.png") no-repeat center;
}

.resized > span {
    background: url("../images/icons/btn-resized-b.png") no-repeat center;
}

.resized:hover > span {
    background: url("../images/icons/btn-resized-w.png") no-repeat center;
}

.safe > span {
    background: url("../images/icons/btn-safe-b.png") no-repeat center;
}

.safe:hover > span {
    background: url("../images/icons/btn-safe-w.png") no-repeat center;
}

.hang-up > span {
    background: url("../images/icons/btn-guaqi-b.png") no-repeat center;
}

.hang-up:hover > span {
    background: url("../images/icons/btn-guaqi-w.png") no-repeat center;
}

.recovery > span {
    background: url("../images/icons/btn-huifu-b.png") no-repeat center;
}

.recovery:hover > span {
    background: url("../images/icons/btn-huifu-w.png") no-repeat center;
}

.vm-tags > span {
    background: url("../images/icons/btn-tags-b.png") no-repeat center;
}

.vm-tags:hover > span {
    background: url("../images/icons/btn-tags-w.png") no-repeat center;
}

.vm-logs > span {
    background: url("../images/icons/btn-logs-b.png") no-repeat center;
}

.vm-logs:hover > span {
    background: url("../images/icons/btn-logs-w.png") no-repeat center;
}

.vm-delete > span {
    background: url("../images/icons/btn-delete-btn.png") no-repeat center;
}

.vm-delete:hover > span {
    background: url("../images/icons/btn-delete-w.png") no-repeat center;
}

.rebuild > span {
    background: url("../images/icons/btn-chongjian-b.png") no-repeat center;
}

.rebuild:hover > span {
    background: url("../images/icons/btn-chongjian-w.png") no-repeat center;
}

.console {
    background: url("../images/icons/btn-kongzhitai-b.png") no-repeat center;
}

/* 云主机按钮列表 end */
/* 云主机详情页下拉列表 start */
.vm-dropmeau {
    border-radius: 0px;
    right: 0px;
    left: -45px;
}

.vm-dropmeau > li > a {
    height: 35px;
    line-height: 30px;
    border-radius: 0px;
}

.vm-dropmeau > li > a:hover {
    background-color: #0077CC;
    color: #fff;
}

/* 云主机详情页下拉列表 end */
/* 云主机详情页编辑名字和描述 start */
.tooltip.tooltip-description.bottom {
    padding-top: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
}

.tooltip.tooltip-description .tooltip-inner {
    color: #555555;
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 350px;
    padding: 10px;
    text-align: left;
}

.tooltip.tooltip-description .tooltip-inner div {
    padding-left: 2px;
}

.tooltip.tooltip-description.bottom .tooltip-arrow {
    border-bottom-color: #FFFFFF;
    border-width: 0 10px 10px;
    margin-left: -10px;
}

.tooltip.tooltip-tag.bottom {
    padding-top: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
}

.tooltip.tooltip-tag .tooltip-inner {
    color: #555555;
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 300px;
    min-height: 50px;
    padding: 15px 15px 15px;
    text-align: left;
}

.tooltip.tooltip-tag.bottom .tooltip-arrow {
    border-bottom-color: #FFFFFF;
    border-width: 0 10px 10px;
    margin-left: -10px;
}

.tooltip-inner {
    max-width: 600px;
}

.tooltip.tooltip-edit {
    top: 0px !important;
    left: 115px !important;
    opacity: 1;
}

.tooltip.tooltip-edit .tooltip-arrow {
    border-width: 0px 0px 0px 0px;
}

.tooltip.tooltip-edit.bottom {
    padding-top: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
}

.tooltip.tooltip-edit .tooltip-inner {
    color: #555555;
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 460px;
    height: 100px;
    padding: 10px 30px 0;
    text-align: left;
}

.tooltip.tooltip-edit .tooltip-inner > div > ng-form > div {

}

.tooltip.tooltip-edit input {
    width: 320px;
}

.tooltip.tooltip-edit label {
    width: 330px;
    max-width: 330px;
}

.tooltip.tooltip-edit.bottom .tooltip-arrow {
    border-bottom-color: #FFFFFF;
    border-width: 0 10px 10px;
    margin-left: -10px;
}
.tooltip.tooltip-edit {
    z-index: 100;
}
/* 云主机详情页编辑名字和描述 end */
/* 进度条样式 start */
.progress-bar {
    height: 15px;
    border-radius: 4px;
}

.progress_success {
    background-color: #58b8f0;
}

.progress_danger {
    background-color: #ff7272;
}

.info-pro {
    background-color: #58b8f0;
}

.error-pro {
    background-color: #ff7272;
}

/* 字体颜色 */
.font-color-gay{
	color: #cccccc;
}

/* 进度条样式 end */
.hand-style {
	cursor: pointer;
}

/* 镜像上传按钮样式 */
.upload-btn {
    display: inline-block;
    height: 30px;
    text-align: center;
    color: #555555;
    background: #eaeaea;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
}

.upload-btn.has-file {
    color: #fff;
    background: #07c;
}

.form-group > div >.has-feedback > .ey-suffix {
    position: absolute;
    right: 0;
    top: -1px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
}