<div style="height:350px;">
    <form class="form-horizontal" name="addAlarmContact">
        <div class="pull-left" style="width: 300px;"><span style="font-size:12px;">待选报警联系人：</span>

            <div class="list-group-eayun" style="width:280px;">
                <div title="点击添加">
                    <expander data-target="#second-menu-allContacts" data-expander-show="false">
                        <div>
                            <span class="glyphicon glyphicon-chevron-down"
                                  style="cursor:pointer;font-size:12px;padding-left:10px;padding-top:8px;">
                                <strong>全部联系人</strong>
                            </span>

                            <div style="font-size:12px;float:right;padding-top: 5px;">
                                <a role="button" data-ng-click="addAll()">整组添加</a>
                            </div>
                        </div>
                    </expander>
                    <div id="second-menu-allContacts">
                        <div data-ng-repeat="all in allContactList"
                             style="cursor:pointer;font-size:12px;padding-left:50px;padding-top:5px;"
                             data-ng-click="addContactToRule(all)">{{all.contactName}}（{{all.contactMethod}}）
                        </div>
                    </div>
                </div>
                <div data-ng-repeat="contactGroup in allContactGroup" title="点击添加">
                    <expander data-target="#second-menu-{{contactGroup.contactGroupId}}" data-expander-show="false">
                        <div>
                            <span class="glyphicon glyphicon-chevron-down"
                                  style="cursor:pointer;font-size:12px;padding-left:10px;padding-top:8px;">
                                <strong>{{contactGroup.contactGroupName.length > 12?contactGroup.contactGroupName.substring(0, 12)+'...':contactGroup.contactGroupName}}</strong>
                            </span>

                            <div style="font-size:12px;float:right;padding-top: 5px;">
                                <a role="button" data-ng-click="addAllContactToRule(contactGroup.contactList)">整组添加</a>
                            </div>
                        </div>
                    </expander>
                    <div id="second-menu-{{contactGroup.contactGroupId}}">
                        <div data-ng-repeat="contact in contactGroup.contactList"
                             style="cursor:pointer;font-size:12px;padding-left:50px;padding-top:5px;"
                             data-ng-click="addContactToRule(contact)">
                            {{contact.contactName}}（{{contact.contactMethod}}）
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pull-right" style="width:300px;padding-left:20px;"><span style="font-size:12px;">已选择报警联系人：&nbsp;&nbsp;<span
                class="click-td">{{selectedNumber}}</span></span>

            <div class="list-group-eayun" style="width:280px;">
                <div data-ng-repeat="alarmContact in selectedContact"
                     style="cursor:pointer;font-size:12px;padding-left:5px;padding-top:5px;"
                     data-ng-click="deleteContactFromRule(alarmContact)" title="点击移除">
                    {{alarmContact.contactName}}（{{alarmContact.contactMethod}}）
                </div>
            </div>
        </div>

        <div class="select-list-md">
            <span class="glyphicon glyphicon-menu-right" style="font-size: 2em"></span>
        </div>
    </form>
</div>
