<div class="container" style="padding: 0">
    <div id="loadingBar"
         style="border:1px;width:100%; height:100%; background:rgba(0,0,0,0.5); position:absolute;z-index:999999;display:none">
        <div style="position:relative; height:100%;">
            <img src="images/loadingbar.gif" style="position:absolute; top:35%; left:44%; z-index:1000;"/>
        </div>
    </div>
    <!-- 右侧区域 -->
    <div class="col-sm-7" style="height: 830px">
        <!-- 头部标题区域 -->
        <div class="modal-header" style="padding: 15px 0px 0px 0px">
            <span class="modal-title">
              创建云主机
            </span>
            <img ng-click="create.cancel()" src="images/close.png">
        </div>
        <!-- 步骤控件-->
        <div class="text-center">
            <div class="step active">
                <span>1</span>

                <div></div>
                <p class="text-left">属性</p>
            </div>
            <div class="step" data-ng-class="create.step > 1 ? 'active':''">
                <div></div>
                <span>2</span>

                <div></div>
                <p class="text-center">镜像</p>
            </div>
            <div class="step" data-ng-class="create.step > 2 ? 'active':''">
                <div></div>
                <span>3</span>

                <p class="text-right">密码</p>
            </div>
        </div>
        <!-- 表单区域 -->
        <div class="modal-body">
            <div class="eayun-modal-dialog" style="width: 500px;">
                <form name="myForm" novalidate>
                    <!-- Step 1 -->
                    <div data-ng-class="create.step == 1 ? 'show':'hidden'">
                        <div class="form-group row">
                            <label class="col-md-12 control-label">所属数据中心：</label>

                            <div class="col-md-9">
                                <eayun-select class="form-control" placeholder="请选择数据中心"
                                              data-ng-model="create.datacenter"
                                              name="datacenter" data-ng-change="create.changeDC(create.datacenter.id)">
                                    <eayun-option data-ng-repeat="datacenter in create.dcList" value="datacenter"
                                                  text="{{datacenter.name}}"></eayun-option>
                                </eayun-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label">所属项目：</label>

                            <div class="col-md-9">
                                <eayun-select class="form-control" placeholder="请选择项目"
                                              data-ng-model="create.project"
                                              name="project"
                                              data-ng-change="create.changePrj(create.project.projectId,create.project.customerId)">
                                    <eayun-option data-ng-repeat="project in create.prjList" value="project"
                                                  text="{{project.prjName}}"></eayun-option>
                                </eayun-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label">所在子网：</label>

                            <div class="col-md-9">
                                <eayun-select class="form-control" placeholder="请选择子网"
                                              data-ng-model="create.subnet" name="subnet"
                                              data-ng-change="create.changeSubnet(create.subnet)"
                                              show-format="create.formatForSubnetName(text)">
                                    <eayun-option ng-repeat="subnet in create.subnetList" value="subnet"
                                                  text="{{subnet.subnetName + '(' + subnet.cidr + ')'}}"></eayun-option>
                                </eayun-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label">云主机名称：</label>

                            <div class="col-md-9"
                                 data-ng-class="(myForm.vmName.$dirty && (myForm.vmName.$invalid||!create.checkVmNameFlag))?'has-error' : ''">
                                <div class="has-feedback">
                                    <input type="text" class="form-control" placeholder="请输入云主机名称"
                                           maxlength="{{create.vmMaxlength}}"
                                           data-ng-model="create.vmModel.vmName" name="vmName" required
                                           data-ng-change="create.checkVmName(create.vmModel)"
                                           data-ng-pattern='/^[\u4e00-\u9fa5a-zA-Z0-9]([\u4e00-\u9fa5_a-zA-Z0-9\s]{0,18}[\u4e00-\u9fa5a-zA-Z0-9]){0,1}$/'>
                                    <label class="control-label hide"
                                           data-ng-class="myForm.vmName.$dirty && myForm.vmName.$invalid ? 'show' : 'hide'"
                                           style="text-align: left;">请输入1-{{create.vmMaxlength}}位字符,支持数字、中英文、下划线、空格</label>
                                    <label class="control-label hide"
                                           data-ng-class="myForm.vmName.$dirty && myForm.vmName.$valid && !create.checkVmNameFlag ? 'show' : 'hide'"
                                           style="text-align: left;">云主机名称已存在</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label">云主机类型：</label>

                            <div class="col-md-9"
                                 data-ng-class="(myForm.vmType.$dirty && myForm.vmType.$invalid)?'has-error' : ''">
                                <div class="has-feedback">
                                    <eayun-select class="form-control" name="vmType" required placeholder="请选择主机类型"
                                                  data-ng-model="create.vmType" data-ng-change="create.changeVmType()"
                                                  required>
                                        <eayun-option ng-repeat="vmType in create.vmTypeList" value="vmType"
                                                      text="{{vmType.modelName}}"></eayun-option>
                                        <eayun-option value="'-1'" text="自定义"></eayun-option>
                                    </eayun-select>
                                    <label class="control-label"
                                           ng-show="myForm.vmType.$dirty && myForm.vmType.$invalid">{{checkUsedMsg}}</label>
                                    <label class="control-label hide"
                                           data-ng-class="myForm.vmType.$dirty && myForm.vmType.$error.required ? 'show' : 'hide'"
                                           style="text-align: left;">请选择云主机类型</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row hide"
                             data-ng-class="create.vmType == '-1' ? 'show' : 'hide'">
                            <div style="width: 170px;float: left;margin-left: 15px;">
                                <label class="control-label" style="width: 65px;float: left;">CPU(核)：</label>

                                <div style="margin-top: -6px;width:100px;float: left;">
                                    <eayun-select class="form-control" data-ng-model="create.cpu"
                                                  data-ng-change="create.changeCpu()">
                                        <eayun-option data-ng-repeat="cpu in create.cpuList" value="cpu"
                                                      text="{{cpu.nodeName.substr(0, cpu.nodeName.length-1)}}"></eayun-option>
                                    </eayun-select>
                                </div>
                            </div>
                            <div style="width: 193px;float: left; ">
                                <label class="control-label" style="width: 75px;float: left;">内存(GB)：</label>

                                <div style="margin-top: -6px;width:100px;float: left;">
                                    <div class="has-feedback">
                                        <eayun-select class="form-control" data-ng-model="create.ram"
                                                      data-ng-change="create.changeRam()">
                                            <eayun-option data-ng-repeat="ram in create.ramList" value="ram"
                                                          text="{{ram.nodeName.substr(0, ram.nodeName.length-2)}}"></eayun-option>
                                        </eayun-select>
                                    </div>
                                </div>
                            </div>
                            <label class="control-label" ng-show="myForm.vmType.$dirty && myForm.vmType.$invalid">{{checkUsedMsg}}</label>
                            <label class="control-label" ng-show="myForm.vmType.$dirty && myForm.vmType.$invalid">请选择云主机类型</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label">云主机数量（台）：</label>

                            <div class="col-md-9"
                                 data-ng-class="(myForm.number.$dirty
                                                && (myForm.number.$error.required
                                                || myForm.number.$invalid
                                                || (create.project
                                                && create.project.projectId
                                                && create.vmModel.number > (create.project.hostCount - create.project.usedVmCount))))
                                                ? 'has-error' : ''">
                                <div class="has-feedback">
                                    <input type="text" class="form-control" name="number" placeholder="请输入云主机数量（台）"
                                           data-ng-model="create.vmModel.number" data-ng-change="create.checkVmNum()"
                                           data-ng-pattern='/^[1-9][0-9]{0,1}$/' maxlength="2" required>
                                    <label class="control-label hide"
                                           data-ng-class="myForm.number.$dirty && myForm.number.$error.required ? 'show' : 'hide'"
                                           style="text-align: left;">请输入云主机数量</label>
                                    <label class="control-label hide"
                                           data-ng-class="myForm.number.$dirty && myForm.number.$error.pattern ? 'show' : 'hide'"
                                           style="text-align: left;">请输入小于100的正整数</label>
                                    <label class="control-label hide"
                                           data-ng-class="(myForm.number.$dirty
                                                        && (create.project
                                                        && create.project.projectId
                                                        && create.vmModel.number > (create.project.hostCount - create.project.usedVmCount)))
                                                        ? 'show' : 'hide'"
                                           style="text-align: left;">云主机数量超过项目限额</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row has-feedback">
                            <div class="col-md-12">
                                <p class="help-block">*如添加多台云主机则会在云主机名称后自动加序号。</p>

                                <p class="help-block">例如：云主机名称A，数量3，则会添加A_1、A_2、A_3，三台云主机。</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label">数据盘容量（GB）:</label>

                            <div class="col-md-8"
                                 data-ng-class="myForm.capacity.$dirty && myForm.capacity.$invalid ? 'has-error' : ''">
                                <input type="text" class="form-control" name="capacity" placeholder="请输入数据盘容量"
                                       data-ng-model="create.vmModel.dataCapacity"
                                       style="width: 180px;margin-top: -6px;"
                                       data-ng-pattern='/^([5-9]|[1-9][0-9]{1,2}|1[0-9][0-9][0-9]|20[0-3][0-9]|204[0-8])$/'
                                       data-ng-disabled="create.vmModel.number && create.vmModel.number != 1"
                                       data-ng-change="create.changeCapacity()">
                            </div>
                            <label class="control-label hide" style="margin-left: 15px; color: #a94442;"
                                   data-ng-class="myForm.capacity.$dirty && myForm.capacity.$error.pattern ? 'show' : 'hide'">
                                请输入5-2048的正整数<!-- && create.vmModel.number && create.vmModel.number == 1-->
                            </label>
                        </div>
                    </div>
                    <!-- Step 2 -->
                    <div data-ng-class="create.step == 2 ? 'show':'hidden'">
                        <div class="form-group row">
                            <label class="col-md-12 control-label">镜像来源：</label>

                            <div class="col-md-9"
                                 data-ng-class="(myForm.vmFrom.$dirty && myForm.vmFrom.$invalid)?'has-error' : ''">
                                <div class="has-feedback">
                                    <eayun-select required class="form-control" name="vmFrom" placeholder="请选择镜像来源"
                                                  data-ng-model="create.vmModel.vmFrom"
                                                  ng-change="create.getImageListByVmFrom(create.vmModel)">
                                        <eayun-option value="'publicImage'" text="公共镜像"></eayun-option>
                                        <eayun-option value="'privateImage'" text="自定义镜像"></eayun-option>
                                    </eayun-select>
                                    <label class="control-label"
                                           ng-show="myForm.vmFrom.$dirty && myForm.vmFrom.$invalid">请选择镜像来源</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label">系统：</label>

                            <div class="col-md-9"
                                 data-ng-class="(myForm.osType.$dirty  && myForm.osType.$invalid)?'has-error' : ''">
                                <div class="has-feedback">
                                    <eayun-select class="form-control" data-ng-model="create.vmModel.osType"
                                                  name="osType" placeholder="请选择操作系统类别"
                                                  data-ng-change="create.changeSysType(create.vmModel.osType)" required>
                                        <eayun-option ng-repeat="os in create.osList" value="os.nodeId"
                                                      text="{{os.nodeName}}"></eayun-option>
                                    </eayun-select>
                                    <label class="control-label"
                                           ng-show="myForm.osType.$dirty && myForm.osType.$invalid">请选择操作系统类别</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9"
                                 data-ng-class="(myForm.sysType.$dirty && myForm.sysType.$invalid)?'has-error' : ''">
                                <div class="has-feedback">
                                    <eayun-select class="form-control" data-ng-model="create.vmModel.sysType"
                                                  name="sysType" placeholder="请选择系统"
                                                  data-ng-change="create.getImageListBySysType(create.vmModel)"
                                                  required>
                                        <eayun-option ng-repeat="system in create.sysTypeList" value="system.nodeId"
                                                      text="{{system.nodeName}}"></eayun-option>
                                    </eayun-select>
                                    <label class="control-label hide"
                                           data-ng-class="myForm.sysType.$dirty && myForm.sysType.$invalid ? 'show' : 'hide'"
                                           style="text-align: left;">请选择系统</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="help-block">*选择Windows系统，默认系统盘为60GB;Linux系统默认系统盘20G</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label">镜像文件：</label>

                            <div class="col-md-9"
                                 data-ng-class="(myForm.fromImage.$dirty  && myForm.fromImage.$invalid)?'has-error' : ''">
                                <div class="has-feedback">
                                    <eayun-select class="form-control" name="fromImage" required
                                                  data-ng-model="create.image"
                                                  ng-change="create.changeImage(create.image.imageId)">
                                        <eayun-option data-ng-repeat="image in create.imageList" value="image"
                                                      text="{{image.imageName}}"></eayun-option>
                                    </eayun-select>
                                    <label class="control-label hide"
                                           data-ng-class="(myForm.fromImage.$dirty && myForm.fromImage.$invalid) ? 'show' : 'hide'"
                                           style="text-align: left;">请选择镜像文件</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Step 3 -->
                    <div data-ng-class="create.step == 3 ? 'show':'hidden'">
                        <div class="form-group row">
                            <label class="col-md-12 control-label">
                                用户名：<span style="margin-left: 15px;" data-ng-bind="create.vmModel.username"></span>
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="control-label" style="margin-left: 15px;float: left;">密码：</label>

                            <div style="width: 300px;float: left;margin-left: 28px;"
                                 data-ng-class="((myForm.password.$invalid || create.checkPasswordFlag) && myForm.password.$dirty) ? 'has-error' : ''">
                                <div class="has-feedback">
                                    <input type="password" class="form-control" name="password" placeholder="请输入密码"
                                           maxlength="30" style="margin-top: -6px;"
                                           data-ng-model="create.vmModel.password"
                                           data-ng-change="create.checkPassword()" required>
                                </div>
                            </div>
                            <div class="has-error" style="margin-left: 84px;width: 310px;">
                                <label class="control-label"
                                       data-ng-show="(myForm.password.$invalid || create.checkPasswordFlag) && myForm.password.$dirty">
                                    长度为8-30位，至少包含数字、大写字母、小写字母和特殊字符中的三种
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label" style="margin-left: 15px;float: left;">确认密码：</label>

                            <div style="width: 300px;float: left;"
                                 data-ng-class="(myForm.repassword.$dirty && (myForm.repassword.$invalid || create.vmModel.password != create.repassword)) ? 'has-error' : ''">
                                <div class="has-feedback">
                                    <input type="password" class="form-control" name="repassword" placeholder="请输入确认密码"
                                           maxlength="30" style="margin-top: -6px;"
                                           data-ng-model="create.repassword" required>
                                </div>
                            </div>
                            <div class="has-error"
                                 style="margin-left: 70px;width: 310px;float: left;">
                                <label class="control-label" style="margin-left: 15px; color: #a94442;"
                                       data-ng-show="(myForm.repassword.$dirty && myForm.repassword.$invalid)">
                                    请输入确认密码
                                </label>
                                <label class="control-label" style="margin-left: 15px; color: #a94442;"
                                       data-ng-show="(myForm.repassword.$valid && create.vmModel.password != create.repassword)">
                                    确认密码与密码输入不一致
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 按钮区域 -->
        <div class="modal-footer" style="text-align: right;position: absolute;bottom: 0;left: 0;right: 15px;">
            <button class="btn btn-default btn-modal" data-ng-click="create.cancel()">取 消
            </button>
            <button style="margin-left: 15px;" class="btn btn-primary btn-modal" ng-click="create.back()"
                    data-ng-show="create.step > 1">上一步
            </button>
            <button style="margin-left: 15px;" class="btn btn-primary btn-modal" ng-click="create.next()"
                    data-ng-disabled="((create.step == 1
                    && (myForm.subnet.$invalid
                    || myForm.vmName.$invalid
                    || myForm.vmType.$invalid
                    || myForm.number.$invalid
                    || myForm.vmType.$invalid
                    || (create.vmType == '-1' && (!(create.cpu && create.cpu.nodeName != undefined) || !(create.ram && create.ram.nodeName != undefined)))
                    || myForm.capacity.$invalid))
                    || (create.step == 2
                    && (myForm.vmFrom.$invalid
                    || myForm.osType.$invalid
                    || myForm.sysType.$invalid
                    || myForm.fromImage.$invalid))
                    || create.configQuotaFlag)"
                    data-ng-show="create.step < 3">下一步
            </button>
            <button style="margin-left: 15px;" class="btn btn-primary btn-modal" ng-click="create.done()"
                    data-ng-disabled="(create.step == 3
                                    && (myForm.password.$invalid
                                    || create.checkPasswordFlag
                                    || myForm.repassword.$invalid
                                    || create.vmModel.password != create.repassword))"
                    data-ng-show="create.step == 3">确定
            </button>
        </div>

    </div>
    <!-- 左侧区域 -->
    <div class="col-sm-5"
         style="height: 830px;padding: 20px 20px;background: #F8F8F8;border-bottom-right-radius: 4px;border-top-right-radius: 4px;">
        <h4>方案详情</h4>

        <div class="panel panel-default">
            <div class="panel-body text-le">
                <form class="form-horizontal" name="typeForm">
                    <div class="form-group row" style="margin-bottom: 15px;">
                        <label class="col-sm-4 control-label" style="font-weight: bold">所属数据中心：</label>
                        <label class="col-sm-8 control-label" style="text-align: left"
                               data-ng-bind="create.datacenter.name"></label>
                    </div>

                    <div class="form-group row" style="margin-bottom: 15px;">
                        <label class="col-sm-4 control-label" style="font-weight: bold">所属项目：</label>
                        <label class="col-sm-8 control-label" style="text-align: left"
                               data-ng-bind="create.project.prjName"></label>
                    </div>

                    <div class="form-group row" style="margin-bottom: 15px;">
                        <label class="col-sm-4 control-label" style="font-weight: bold">所在子网：</label>
                        <label class="col-sm-8 control-label" style="text-align: left"
                               title="{{(create.subnet && create.subnet.subnetName != undefined)
                                    ? create.subnet.subnetName + '(' + create.subnet.cidr + ')'
                                    : ''}}"
                               data-ng-bind="(create.subnet && create.subnet.subnetName != undefined)
                                            ? (create.subnet.subnetName.length > 8
                                            ? create.subnet.subnetName.substr(0,8) + '...'
                                            : create.subnet.subnetName) + '(' + create.subnet.cidr + ')'
                                            : ''">
                        </label>
                    </div>

                    <div class="form-group row" style="margin-bottom: 15px;">
                        <label class="col-sm-4 control-label" style="font-weight: bold">云主机名称：</label>
                        <label class="col-sm-8 control-label" style="text-align: left"
                               title="{{create.vmModel.vmName}}"
                               data-ng-bind="create.vmModel.vmName.length > 12 ? create.vmModel.vmName.substr(0,12) + '...' : create.vmModel.vmName"></label>
                    </div>

                    <div class="form-group row" style="margin-bottom: 15px;"><!--create.cpu.nodeName.substr(0, create.cpu.nodeName.length - 1)-->
                        <label class="col-sm-4 control-label" style="font-weight: bold">CPU(核)：</label>
                        <label class="col-sm-1 control-label" style="text-align: left"
                               data-ng-bind="create.vmTypeIsSure ? (create.vmModel.cpus ? create.vmModel.cpus : '') : ''"></label>
                        <label class="col-sm-5 control-label" style="font-weight: bold">内存(GB)：</label>
                        <label class="col-sm-2 control-label" style="text-align: left"
                               data-ng-bind="create.vmTypeIsSure ? (create.vmModel.rams ? create.vmModel.rams : '') : ''"></label>
                    </div><!--create.ram ? create.ram.nodeName.substr(0, create.ram.nodeName.length - 2) : ''-->

                    <div class="form-group row" style="margin-bottom: 15px;">
                        <label class="col-sm-4 control-label" style="font-weight: bold">主机数量(台)：</label>
                        <label class="col-sm-1 control-label" style="text-align: left"
                               data-ng-bind="create.vmModel.number"></label>
                        <label class="col-sm-5 control-label" style="font-weight: bold">数据盘容量(GB)：</label>
                        <label class="col-sm-2 control-label" style="text-align: left"
                               data-ng-bind="create.vmModel.dataCapacity"></label>
                    </div>

                    <div class="form-group row" style="margin-bottom: 0px;">
                        <label class="col-sm-4 control-label" style="font-weight: bold">镜像：</label>
                        <label class="col-md-8 control-label" style="text-align: left;word-break: break-all;"
                               title="{{create.image.imageName}}"
                               data-ng-bind="create.image.imageName"></label>
                    </div>

                    <div class="form-group row has-error" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <div class="has-feedback">
                                <label class="control-label" data-ng-bind="create.configQuotaMessage"
                                       style="font-size: 14px;font-weight: bold"></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--<div class="form-group row has-error" style="margin-bottom: 15px;">
            <div class="col-md-12">
                <div class="has-feedback">
                    <label class="control-label" data-ng-bind="create.configQuotaMessage"></label>
                </div>
            </div>
        </div>-->

        <h4>项目限定</h4>

        <div style="margin-bottom: 10px;">
            <span>云主机数量(台)：</span>
            <span style="float: right;">
                <span data-ng-bind="create.configQuota.totalNumber"></span>中的
                <span data-ng-bind="create.configQuota.usedNumber"></span>已使用
            </span>
        </div>
        <div class="progress" style="height: 15px;margin-bottom: 12px;">
            <div class="progress-bar" role="progressbar"
                 data-ng-class="100 * create.configQuota.usedNumber/create.configQuota.totalNumber > 100 ? 'progress-bar-danger progress_danger' : 'progress_success'"
                 ng-style="{'width': (100*create.configQuota.usedNumber/create.configQuota.totalNumber)+'%'}">
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <span>云硬盘数量(块)：</span>
            <span style="float: right;">
                <span data-ng-bind="create.configQuota.totalDisk"></span>中的
                <span data-ng-bind="create.configQuota.usedDisk"></span>已使用
            </span>
        </div>
        <div class="progress" style="height: 15px;margin-bottom: 12px;">
            <div class="progress-bar" role="progressbar"
                 data-ng-class="100 * create.configQuota.usedDisk/create.configQuota.totalDisk > 100 ? 'progress-bar-danger progress_danger' : 'progress_success'"
                 ng-style="{'width': (100*create.configQuota.usedDisk/create.configQuota.totalDisk)+'%'}">
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <span style="margin: 0px 0px 5px;">CPU核数(核)：</span>
            <span style="float: right;">
                <span data-ng-bind="create.configQuota.totalCpu"></span>中的
                <span data-ng-bind="create.configQuota.usedCpu"></span>已使用
            </span>
        </div>
        <div class="progress" style="height: 15px;margin-bottom: 12px;">
            <div class="progress-bar" role="progressbar"
                 data-ng-class="100 * create.configQuota.usedCpu/create.configQuota.totalCpu>100 ? 'progress-bar-danger progress_danger' : 'progress_success'"
                 ng-style="{'width': (100*create.configQuota.usedCpu/create.configQuota.totalCpu) + '%'}">
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <span style="margin: 0px 0px 5px;">内存总计(GB)：</span>
            <span style="float: right;">
                <span data-ng-bind="create.configQuota.totalRam"></span>中的
                <span data-ng-bind="create.configQuota.usedRam"></span>已使用
            </span>
        </div>
        <div class="progress" style="height: 15px;margin-bottom: 12px;">
            <div class="progress-bar" role="progressbar"
                 data-ng-class="100 * create.configQuota.usedRam/create.configQuota.totalRam > 100 ? 'progress-bar-danger progress_danger' : 'progress_success'"
                 ng-style="{'width': (100*create.configQuota.usedRam/create.configQuota.totalRam) + '%'}">
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <span style="margin: 0px 0px 5px;">云硬盘容量总计(GB)：</span>
            <span style="float: right;">
                <span data-ng-bind="create.configQuota.totalDiskCapacity"></span>中的
                <span data-ng-bind="create.configQuota.usedDiskCapacity"></span>已使用
            </span>
        </div>
        <div class="progress" style="height: 15px;margin-bottom: 12px;">
            <div class="progress-bar" role="progressbar"
                 data-ng-class="100 * create.configQuota.usedDiskCapacity/create.configQuota.totalDiskCapacity > 100 ? 'progress-bar-danger progress_danger':'progress_success'"
                 ng-style="{'width': (100*create.configQuota.usedDiskCapacity/create.configQuota.totalDiskCapacity) + '%'}">
            </div>
        </div>
    </div>
</div>
