<div style="min-width: 420px;max-width: 720px;">
    <div class="modal-header">
    <span class="modal-title">
    </span>
        <img ng-click="delVm.cancel()" src="images/close.png">
    </div>

    <div class="modal-body" style="padding: 0px">
        <div class="modal-confirm" style="word-break:break-all; word-wrap:break-word;">删除资源 "{{delVm.vmModel.vmName}}" 有可能造成客户线上环境和财务损失，请确认与客户进行过沟通。</div>
        <div class="deletevm-checkbox">
            <input id="recycleFlag" type="checkbox" data-ng-model ="delVm.vmModel.isRecycle" data-ng-disabled="delVm.modifyAble">
            <label class="deletevm-checkbox-label" for="recycleFlag">彻底删除，不放入回收站</label>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-modal" data-ng-disabled="delVm.btnCheck" ng-click="delVm.ok()">确 定</button>
        <button class="btn btn-default btn-modal" ng-click="delVm.cancel()" style="margin-left:15px;">取 消</button>

    </div>
</div>
