<div>
    <ng-form name="editHostDescriptionTable">
        <div class="col-md-10" style="padding-left: 0px;">
		<textarea class="form-control" name="vmDescripstion" type="text" maxlength="200" placeholder="请输入0-200位描述"
                  data-ng-model="vmDetail.vmEditModel.vmDescripstion">
		</textarea>
        </div>
	<span class="badge" style="margin-left:10px;background-color:green;color:#ffffff;" data-ng-class=""
          data-ng-click="vmDetail.saveEdit('vmDesc')">
      	<span class="glyphicon glyphicon-ok">
     	</span>
    </span>
	<span class="badge" data-ng-click="vmDetail.cancelEdit('vmDesc')">
      	<span class="glyphicon glyphicon-remove">
      	</span>
    </span>
    </ng-form>
</div>
