<form class="form-horizontal" name="editNet" novalidate>
    <div class="form-group">
        <label class="col-sm-3 control-label">子网名称：</label>

        <div class="col-sm-8"
             data-ng-class="(editNet.name.$dirty && editNet.name.$invalid) ? 'has-error' : ''">
            <input type="text" class="form-control" ng-model="subnet.name" name="name"
                   ajax-valid="subnet.checkName(value)" maxlength="20"
                   ng-pattern='/^[\u4e00-\u9fa5a-zA-Z0-9]([\u4e00-\u9fa5_a-zA-Z0-9\s]{0,18}[\u4e00-\u9fa5a-zA-Z0-9]){0,1}$/'
                   required/>
            <label class="control-label hide"
                   data-ng-class="editNet.name.$dirty && editNet.name.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">子网名称不能为空</label>
            <label class="control-label hide"
                   data-ng-class="editNet.name.$dirty && editNet.name.$error.pattern ? 'show' : 'hide'"
                   style="text-align: left;">请输入1-20位字符,支持数字、中英文、下划线、空格</label>
            <label class="control-label hide"
                   data-ng-class="editNet.name.$dirty && editNet.name.$error.ajaxValid ? 'show' : 'hide'"
                   style="text-align: left;">名称已存在</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">子网类型：</label>

        <div class="col-sm-8 ">
            <label class="control-label radio-inline small-size" name="subnetType">
                <input type="radio" ng-model="subnet.subnetType" value="1" required> 受管
            </label>
            <label class="control-label radio-inline small-size" name="subnetType">
                <input type="radio" ng-model="subnet.subnetType" value="0" required> 自管
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">网络地址：</label>

        <div class="col-sm-8" data-ng-class="subnet.cidrErr || dnsFlag ?'net-error':''">
            <div class="subnet-cidr">
                <div class="row" ng-repeat="cidr in subnet.cidrs" ng-init="rowNo = $index">
                    <div class="col-lg-1">
                        <div class="radio">
                            <input type="radio" name="radio" ng-model="subnet.radio" value="{{::$index}}" data-ng-change="subnet.changeSubnetCidr()" required>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div  ng-repeat-start="item in cidr" ng-class="item.valid ? '':'has-error'" style="display:inline-block;">
                            <input type="text" class="form-control" ng-model="item.value"
                                   ng-init="colNo = $index" ng-focus="subnet.focus(item)" ng-blur="subnet.blur()"
                                   input-check="subnet.check(value,newValue)"
                                   ng-disabled="subnet.radio != rowNo || item.readonly" maxlength="3" name="cidr{{rowNo+''+colNo}}">
                        </div>
                        <label class="control-label" ng-if="colNo < 3">.</label>
                        <label class="control-label" ng-if="colNo == 3" ng-repeat-end>/</label>
                    </div>
                </div>
            </div>
            <!--<label class="control-label hide"
                   data-ng-class="dnsFlag ? 'show' : 'hide'"
                   style="text-align: left;">网络地址：{{cidrStr}}已存在</label>-->
            <p class="help-block" ng-show="dnsFlag"  data-ng-class="dnsFlag ? 'has-error':''">
                <span>网络地址：{{cidrStr}}已存在</span>
            </p>
            <p class="help-block" ng-show="subnet.curItem" style="color: #737373;">可填写<span ng-bind="subnet.curItem.min"></span>到<span
                    ng-bind="subnet.curItem.max"></span>之间的整数</p>
            <p class="help-block" ng-show="!subnet.curItem">&nbsp;</p>

            <p class="help-block" style="color: #737373;">说明：默认DNS为<span>{{dns}}</span>，创建子网成功后可编辑</p>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-modal" data-ng-click="commit()"
            data-ng-disabled="editNet.$invalid || subnet.cidrErr || checkBtn || dnsFlag">确
        定
    </button>
    <button type="button" class="btn btn-default btn-modal" data-ng-click="cancel()">取 消</button>
</div>