<form class="form-horizontal" name="myForm">
    <!--名称 -->
    <div class="form-group">
        <label class="col-sm-3 control-label">名称：</label>

        <div class="col-sm-8" data-ng-class="(myForm.name.$dirty && (myForm.name.$invalid||edit.checkName)) ? 'has-error' : ''">
            <input type="text" class="form-control" maxlength="20" name="name" data-ng-model="edit.healthMonitor.ldmName"
                   ng-pattern='/^[\u4e00-\u9fa5a-zA-Z0-9]([\u4e00-\u9fa5_a-zA-Z0-9\s]{0,18}[\u4e00-\u9fa5a-zA-Z0-9]){0,1}$/'
                   ng-change="edit.checkNameExist()"  placeholder="请输入健康检查名称" required>
            <label class="control-label" ng-show="myForm.name.$dirty && myForm.name.$invalid">请输入1-20位字符,支持数字、中英文、下划线、空格</label>
            <label class="control-label" ng-show="myForm.name.$dirty && myForm.name.$valid && edit.checkName">名称已存在</label>
        </div>
    </div>

    <!--类型 -->
    <div class="form-group">
        <label class="col-sm-3 control-label">协议：</label>

        <div class="col-sm-8"  data-ng-class="(myForm.type.$dirty && myForm.type.$invalid) ? 'has-error' : ''">
            <eayun-select  name="type" class="form-control" data-ng-model="edit.healthMonitor.ldmType" ng-disabled="true" required>
                <eayun-option value="'PING'" text="PING"></eayun-option>
                <eayun-option value="'TCP'" text="TCP" ></eayun-option>
                <eayun-option value="'HTTP'" text="HTTP" ></eayun-option>
                <eayun-option value="'HTTPS'" text="HTTPS" ></eayun-option>
            </eayun-select>
        </div>
    </div>

    <!-- 延迟 -->
    <div class="form-group has-feedback">
        <label class="col-sm-3 control-label">间隔（s）：</label>

        <div class="col-sm-4" data-ng-class="(myForm.delay.$dirty && myForm.delay.$invalid) ? 'has-error' : ''">
            <input type="text" class="form-control" name="delay" maxlength="2" ng-pattern="/^([1-9]|[1-4][0-9]|50)$/"
                   data-ng-model="edit.healthMonitor.ldmDelay" placeholder="请输入间隔" required>
        </div>
        <div class="col-sm-4" data-ng-class="(myForm.delay.$dirty && myForm.delay.$invalid) ? 'has-error' : ''">
            <label class="control-label">请输入1-50的整数</label>
        </div>
    </div>

    <!-- 超时重复次数(1-10) -->
    <div class="form-group has-feedback">
        <label class="col-sm-3 control-label">超时重复次数：</label>

        <div class="col-sm-4" data-ng-class="(myForm.max_retries.$dirty && myForm.max_retries.$invalid) ? 'has-error' : ''">
            <input type="text" class="form-control" maxlength="2" name="max_retries" ng-pattern="/^([1-9]|10)$/"
                   data-ng-model="edit.healthMonitor.maxRetries" placeholder="请输入超时重复次数" required>
        </div>
        <div class="col-sm-4" data-ng-class="(myForm.max_retries.$dirty && myForm.max_retries.$invalid) ? 'has-error' : ''">
            <label class="control-label">请输入1-10的整数</label>
        </div>
    </div>

    <!-- 超时 -->
    <div class="form-group has-feedback">
        <label class="col-sm-3 control-label">超时（s）：</label>

        <div class="col-sm-4" data-ng-class="(myForm.timeout.$dirty && myForm.timeout.$invalid) ? 'has-error' : ''">
            <input type="text" class="form-control" ng-pattern="/^([1-9]|[1-4][0-9]|50)$/"  maxlength="2"
                   name="timeout" data-ng-model="edit.healthMonitor.ldmTimeout" placeholder="请输入超时" required>
        </div>
        <div class="col-sm-4" data-ng-class="(myForm.timeout.$dirty && myForm.timeout.$invalid) ? 'has-error' : ''">
            <label class="control-label">请输入1-50的整数</label>
        </div>
    </div>

    <!-- URL -->
    <div class="form-group has-feedback" ng-if="edit.healthMonitor.ldmType=='HTTP' || edit.healthMonitor.ldmType=='HTTPS'">
        <label class="col-sm-3 control-label">URL：</label>

        <div class="col-sm-8" data-ng-class="(myForm.url_path.$dirty && myForm.url_path.$invalid) ? 'has-error' : ''">
            <input type="text" class="form-control" name="url_path" data-ng-model="edit.healthMonitor.urlPath" maxlength="100"
                   ng-pattern="/^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@)?((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.[a-zA-Z]{2,4})(\:[0-9]+)?(/[^/][a-zA-Z0-9\.\,\?\'\\/\+&amp;%\$#\=~_\-@]*)*$/">

            <label class="control-label" ng-show="myForm.url_path.$dirty && myForm.url_path.$error.required">请输入正确的URL地址格式</label>
            <label class="control-label" ng-show="myForm.url_path.$dirty && myForm.url_path.$invalid && !myForm.url_path.$error.required">请输入正确的URL地址格式</label>
        </div>
    </div>

    <!-- 按钮区域 -->
    <!--<div class="modal-footer" >-->
        <!--<button type="button" class="btn btn-primary btn-modal" ng-click="commit()"  ng-disabled="!myForm.$valid">确  定</button>-->
        <!--<button type="button" class="btn btn-default btn-modal" style="margin-left:13px;" ng-click="cancel()">取  消</button>-->
    <!--</div>-->



</form>
