<button class="btn btn-default" ng-click="syncTree.syncTag()" style="margin: 0px 15px;">标签缓存同步</button>
<button class="btn btn-default" ng-click="syncTree.syncTree()" style="margin: 0px 15px;">数据字典同步</button>
<button class="btn btn-default" ng-click="syncTree.syncSms()" style="margin: 0px 15px;">短信配额同步</button>
<button class="btn btn-default" ng-click="syncTree.syncObs()" style="margin: 0px 15px;">对象存储同步</button>
<button class="btn btn-default" ng-click="syncTree.syncLog()" style="margin: 0px 15px;">ecsc日志转移</button>
<button class="btn btn-default" ng-click="syncTree.syncEcmcLog()" style="margin: 0px 15px;">ecmc日志转移</button>
<button class="btn btn-default" ng-click="syncTree.syncPrice()" style="margin: 0px 15px;">价格缓存同步</button>
<button class="btn btn-default" ng-click="syncTree.syncEcscMonitor()" style="margin: 0px 15px;">ECSC监控报警缓存同步</button>
<button class="btn btn-default" ng-click="syncTree.syncEcmcMonitor()" style="margin: 0px 15px;">ECMC监控报警缓存同步</button>
<button class="btn btn-default" ng-click="syncTree.syncCusBlock()" style="margin: 0px 15px;">客户冻结状态同步</button>
<button class="btn btn-default" ng-click="syncTree.syncBlackList()" style="margin: 20px 15px;">黑名单同步</button>
<button class="btn btn-default" ng-click="syncTree.syncApiCount()" style="margin: 20px 15px;">Api访问限制同步</button>