/* 详情页样式 */
.customer-overview {
    margin-bottom: 5px;
    background-color: #FAFAFA;
    padding: 5px 10px;
}

.customer-overview-group {
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;
    border-bottom: 1px solid #e3e3e3;
    height: 40px;
    vertical-align: middle;
    display: block;
}

.customer-overview-name {
    width: 200px;
    height: 34px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}

.customer-overview-value {
    height: 34px;
    line-height: 40px;
    float: right;
    vertical-align: middle;
    display: inline-block;
}