<form class="form-horizontal" name="editNotice" novalidate>
	<div class="form-group">
        <label class="col-sm-3 control-label">公告标题：</label>

        <div class="col-sm-8"
             data-ng-class="(editNotice.title.$dirty && editNotice.title.$error.required) ? 'has-error' : ''">
            <input type="text" class="form-control" data-ng-model="edit.notice.title" name="title" maxlength="20" required/>
            <label class="control-label hide"
                   data-ng-class="editNotice.title.$dirty && editNotice.title.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">公告标题不能为空</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">公告摘要：</label>

        <div class="col-sm-8"
             data-ng-class="(editNotice.memo.$dirty && editNotice.memo.$error.required) ? 'has-error' : ''">
            <input type="text" class="form-control" data-ng-model="edit.notice.memo" name="memo" maxlength="100" required/>
            <label class="control-label hide"
                   data-ng-class="editNotice.memo.$dirty && editNotice.memo.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">公告摘要不能为空</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">公告内容：</label>

        <div class="col-sm-8"
             data-ng-class="(editNotice.content.$dirty && editNotice.content.$error.required) ? 'has-error' : ''">
            <textarea type="text" class="form-control" data-ng-model="edit.notice.content" name="content" maxlength="2000" 
            placeholder="公告内容请输入1-2000个字符" required></textarea>
            <label class="control-label hide"
                   data-ng-class="editNotice.content.$dirty && editNotice.content.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">公告内容不能为空</label>
        </div>
    </div>
    <div class="form-group form-inline">
        <label class="col-sm-3 control-label">生效时间：</label>

        <div class="col-sm-8"
             data-ng-class="(editNotice.validTime.$dirty && editNotice.validTime.$error.required) ? 'has-error' : ''">
            <date-time-picker type="text" data-ng-model="edit.notice.validTime" name="validTime" show-time="true"
                              data-format="yyyy-MM-dd HH:mm:ss" max-date="edit.notice.invalidTime" required></date-time-picker>
            <label class="control-label hide"
                   data-ng-class="editNotice.validTime.$dirty && editNotice.validTime.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">生效时间不能为空</label>
        </div>
    </div>
    <div class="form-group form-inline">
        <label class="col-sm-3 control-label">截止时间：</label>

        <div class="col-sm-8"
             data-ng-class="(editNotice.invalidTime.$dirty && editNotice.invalidTime.$error.required) ? 'has-error' : ''">
            <date-time-picker type="text" data-ng-model="edit.notice.invalidTime" name="invalidTime" show-time="true"
                              data-format="yyyy-MM-dd HH:mm:ss" min-date="edit.notice.validTime" required></date-time-picker>
            <label class="control-label hide"
                   data-ng-class="editNotice.invalidTime.$dirty && editNotice.invalidTime.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">截止时间不能为空</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">URL：</label>

        <div class="col-sm-8"
             data-ng-class="(editNotice.url.$dirty && (editNotice.url.$error.pattern || editNotice.url.$error.url)) ? 'has-error' : ''">
            <input type="url" class="form-control" data-ng-model="edit.notice.url" name="url" maxlength="1024" 
            	data-ng-pattern="/(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/"/>
            <!-- <label class="control-label hide"
                   data-ng-class="editNotice.url.$dirty && editNotice.url.$error.url ? 'show' : 'hide'"
                   style="text-align: left;color: red;font-size: 12px;">URL不合法</label> --> 
            <label class="control-label hide"
                   data-ng-class="editNotice.url.$dirty && (editNotice.url.$error.pattern || editNotice.url.$error.url) ? 'show' : 'hide'"
                   style="text-align: left;">请输入正确的URL（http://www.eayun.com）</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">状态：</label>

        <div class="col-sm-8"
             data-ng-class="(editNotice.isUsed.$dirty && editNotice.isUsed.$error.required) ? 'has-error' : ''">
            <eayun-select class="form-control form-select" name="isUsed" ng-model="edit.notice.isUsed" required>
                <eayun-option value="1" text="启用"></eayun-option>
                <eayun-option value="0" text="停用"></eayun-option>
            </eayun-select>
            <label class="control-label hide"
                   data-ng-class="editNotice.isUsed.$dirty && editNotice.isUsed.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">状态不能为空</label>
        </div>
    </div>
</form>