<form class="form-horizontal" name="editMessage" novalidate>
    <div class="form-group">
        <label class="col-sm-3 control-label">消息标题：</label>

        <div class="col-sm-8"
             data-ng-class="(editMessage.newst.$dirty && editMessage.newst.$error.required) ? 'has-error' : ''">
            <input type="text" class="form-control" data-ng-model="edit.message.newsTitle" name="newst"
                   maxlength="64"
                   required/>
            <label class="control-label hide"
                   data-ng-class="editMessage.newst.$dirty && editMessage.newst.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">消息标题不能为空</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">消息内容：</label>

        <div class="col-sm-8"
             data-ng-class="(editMessage.memo.$dirty && editMessage.memo.$error.required) ? 'has-error' : ''">
            <textarea type="text" class="form-control" data-ng-model="edit.message.memo" name="memo" maxlength="4096"
                      placeholder="消息内容请输入1-4096个字" required></textarea>
            <label class="control-label hide"
                   data-ng-class="editMessage.memo.$dirty && editMessage.memo.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">消息内容不能为空</label>
        </div>
    </div>
    <div class="form-group form-inline">
        <label class="col-sm-3 control-label">生效时间：</label>

        <div class="col-sm-8"
             data-ng-class="(editMessage.sendDate.$dirty && (editMessage.sendDate.$error.required || !edit.hasNotSended)) ? 'has-error' : ''">
            <date-time-picker type="text" data-ng-model="edit.message.sendDate" name="sendDate" min-date="edit.now"
                              show-time="true" ng-change="edit.checkSendDate();edit.getEndDate()"
                              required></date-time-picker>
            <label class="control-label hide"
                   data-ng-class="editMessage.sendDate.$dirty && editMessage.sendDate.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">生效时间不能为空</label>
            <label class="control-label hide"
                   data-ng-class="editMessage.sendDate.$dirty && !editMessage.sendDate.$error.required && !edit.hasNotSended ? 'show' : 'hide'"
                   style="text-align: left;">生效时间不能早于当前时间</label>
        </div>
    </div>
    <div class="form-group form-inline">
        <label class="col-sm-3 control-label">截止时间：</label>

        <div class="col-sm-8">
            <label class="control-label" ng-bind="edit.endDate|date:'yyyy-MM-dd HH:mm:ss'"></label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">收件公司：</label>

        <div class="col-sm-8"
             data-ng-class="(editMessage.recCompany.$dirty && editMessage.recCompany.$error.required) ? 'has-error' : ''">
            <input type="text" class="form-control" data-ng-model="edit.cusLists" name="newsTitle"
                   placeholder="请点击选择" required  ng-click="edit.cusList(edit.customerList)"/>
            <label class="control-label hide"
                   data-ng-class="editMessage.recCompany.$dirty && editMessage.recCompany.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">请在下拉框中选择收件公司</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">账号类型：</label>

        <div class="col-sm-8"
             data-ng-class="(editMessage.recType.$dirty && editMessage.recType.$error.required) ? 'has-error' : ''">
            <eayun-select class="form-control form-select" data-ng-model="edit.message.recType" name="recType" required>
                <eayun-option data-ng-if="edit.message.cusId == 'ALL'" value="'1'" text="所有人"></eayun-option>
                <eayun-option data-ng-if="edit.message.cusId != 'ALL'" value="'1'" text="指定客户下的所有人"></eayun-option>
                <eayun-option data-ng-if="edit.message.cusId == 'ALL'" value="'2'" text="所有超级管理员"></eayun-option>
                <eayun-option data-ng-if="edit.message.cusId != 'ALL'" value="'2'" text="指定客户下的超级管理员"></eayun-option>
            </eayun-select>
            <label class="control-label hide"
                   data-ng-class="editMessage.recType.$dirty && editMessage.recType.$error.required ? 'show' : 'hide'"
                   style="text-align: left;">账号类型不能为空</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">发件方：</label>

        <div class="col-sm-8"
             data-ng-class="(editMessage.sendPerson.$dirty && editMessage.sendPerson.$error.required) ? 'has-error' : ''">
            <!--<eayun-select-input options-data="edit.sendPersonList" text-field="sendPerson" value-field="sendPerson"
                                data-ng-model="edit.message.sendPerson" name="sendPerson" placeholder="请输入或选择发件方"
                                maxlength="20" required>
            </eayun-select-input>-->
            <eayun-input-filter filter-data="edit.sendPersonList" text-field="sendPerson" maxlength="20"
                                data-ng-model="edit.message.sendPerson" name="sendPerson" placeholder="请输入或选择发件方"
                                required>
            </eayun-input-filter>
            <label class="control-label hide"
                   data-ng-class="(editMessage.sendPerson.$dirty && editMessage.sendPerson.$error.required) ? 'show' : 'hide'"
                   style="text-align: left;">发件方不能为空</label>
        </div>
    </div>
</form>

<div class="modal-footer">
    <button class="btn btn-primary btn-modal" ng-click="commit()" ng-disabled="!editMessage.$valid || !edit.hasNotSended">确 定</button>
    <button class="btn btn-default btn-modal" ng-click="cancel()" style="margin-left:15px;">取 消</button>
</div>