<div class="eayun-select ng-cloak" ng-cloak>
    <input type="text" class="eayun-select-input form-control" name="{{name}}" maxlength="{{maxlength}}"
           placeholder="{{placeholder}}" ng-model="text" required>

    <div class="eayun-select-btn" type="button" data-ng-click="open()"><span
            class="glyphicon glyphicon-menu-down"></span></div>
    <ul class="eayun-select-menu dropdown-menu hide" ng-transclude ng-class="showMenu?'show':'hide'"></ul>
    <ul class="eayun-select-menu dropdown-menu hide"
        ng-class="showMenu && (options.length==0 || (options.length == 1 && options[0].selected == true))?'show':'hide'">
        <li><a id="nochoice">无可选项</a></li>
    </ul>
</div>
