<div>
    <ng-form name="editHostNameTable" novalidate>
        <div class="col-md-10"
             data-ng-class="rule.vmNameEditable && (editHostNameTable.fwName.$dirty && (editHostNameTable.fwName.$invalid || !rule.checkVmNameFlag)) ? 'has-error' : ''"
             style="padding-left: 0px;">
            <input class="form-control" name="fwName" type="text" maxlength="20" placeholder="请输入防火墙名称"
                   data-ng-model="rule.vmEditModel.fwName" data-ng-change="rule.checkFwNameExist()"
                   ng-pattern='/^[\u4e00-\u9fa5a-zA-Z0-9]([\u4e00-\u9fa5_a-zA-Z0-9\s]{0,18}[\u4e00-\u9fa5a-zA-Z0-9]){0,1}$/'
                   required>
            <label class="control-label hide" style="padding-top:17px;"
                   data-ng-class="rule.vmNameEditable && editHostNameTable.fwName.$dirty && editHostNameTable.fwName.$invalid ? 'show' : 'hide'">
                <span>请输入1-20位字符,支持数字、中英文、下划线、空格</span>
            </label>
            <label class="control-label hide" style="padding-top:17px;text-align: left;"
                   data-ng-class="editHostNameTable.fwName.$dirty && editHostNameTable.fwName.$valid && !rule.checkVmNameFlag ? 'show' : 'hide'">
                <span>防火墙名称已存在</span>
            </label>
        </div>
        <span class="badge hide" style="margin-left:10px;background-color:green;color:#ffffff;"
              data-ng-class="rule.vmNameEditable && (editHostNameTable.fwName.$dirty && (editHostNameTable.fwName.$valid && rule.checkVmNameFlag)) ? 'show' : 'hide'"
              data-ng-click="rule.saveEdit('fwName')">
            <span class="glyphicon glyphicon-ok"></span>
        </span>
        <span class="badge" data-ng-click="rule.cancelEdit('fwName')">
            <span class="glyphicon glyphicon-remove"></span>
        </span>
    </ng-form>
</div>
