<!-- 当前位置下拉列表 -->
<div class="title-inline">
    <div class="form-group">
        <label class="control-label">当前位置：
            <span> 任务管理</span>
        </label>
    </div>
</div>

<div class="panel panel-default clearfix">
    <div class="panel-body">
        <h4>任务管理</h4>
        <!-- 导航页签 -->
        <tabs class="nav-tabs-online">
            <tab ui-sref-active="active" data-ui-sref="app.task.tasklist">任务列表</tab>
            <tab ui-sref-active="active" data-ui-sref="app.task.log">日志</tab>
            <tab ui-sref-active="active" data-ui-sref="app.task.schedulelost">计划任务漏跑统计</tab>
        </tabs>


        <div class="form-inline" style="float: right">
            <!--<button type="button" data-ng-if="hasPermission('task_add')" class="btn btn-primary" data-ng-click="tasklist.add()"
                    style="margin-right:15px">
                <span class="glyphicon glyphicon-plus"></span> 创建任务
            </button>-->

            <div class="input-group has-feedback search-group" data-ng-if="hasPermission('task_query')">
                <input type="text" class="form-control" data-ng-model="tasklist.queryName" placeholder="请输入名称搜索">
                <span class="form-control-feedback pointer search" ng-click="tasklist.doSearch()"></span>
            </div>
        </div>
        <form class="form-inline form-count">
            <eayun-table data-api="tasklist.myTable.api" data-ajax-source="tasklist.myTable.source"
                         data-param="tasklist.myTable.getParams"
                         data-result="tasklist.myTable.result">
                <table class="table table-eayun">
                    <thead>
                    <tr>
                        <th>触发器名称</th>
                        <th>任务名称</th>
                        <!--<th>Bean名称</th>-->
                        <!--<th>方法名</th>-->
                        <th>
                            <eayun-select type="btn" class="btn-group btn-group-xs" ng-change="tasklist.changeState()"
                                          data-ng-model="tasklist.state">
                            <eayun-option value="" text="全部状态" selected></eayun-option>
                            <eayun-option value="state.id" text="{{state.name}}"
                                          ng-repeat="state in tasklist.states"></eayun-option>
                        </eayun-select>
                        </th>
                        <th>触发时间</th>
                        <th>上次运行时间</th>
                        <th>下次运行时间</th>
                        <!--<th>创建时间</th>-->
                        <!--<th>任务描述</th>-->
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="taskdata in tasklist.myTable.result">
                        <td ng-bind-html="::taskdata.triggerName.length>50?taskdata.triggerName.substring(0,50)+'...':taskdata.triggerName"
                            title="{{taskdata.triggerName}}"></td>
                        <td ng-bind-html="::taskdata.jobName.length>50?taskdata.jobName.substring(0,50)+'...':taskdata.jobName"
                            title="{{taskdata.jobName}}"></td>
                        <td class="" ng-bind="::taskdata.taskState"></td>
                        <td class="" ng-bind="::taskdata.cronExpression"></td>
                        <td class="" ng-bind="::taskdata.preExcTime |date:'yyyy-MM-dd HH:mm:ss'" ></td>
                        <td class="" ng-bind="::taskdata.nextExcTime |date:'yyyy-MM-dd HH:mm:ss'" >
                        <!--<tr>-->
                        <!--<td class="click-link" ng-click="tasklist.detail(taskdata.taskId,taskdata.beanName)"
                            ng-bind-html="::taskdata.taskName.length>16?taskdata.taskName.substring(0,16)+'...':taskdata.taskName"
                            title="{{taskdata.taskName}}"></td>
                        <td ng-bind-html="::taskdata.beanName.length>16?taskdata.beanName.substring(0,16)+'...':taskdata.beanName"
                            title="{{taskdata.beanName}}"></td>
                        <td class=""
                            ng-bind-html="::taskdata.methodName.length>7?taskdata.methodName.substring(0,7)+'...':taskdata.methodName"
                            title="{{taskdata.methodName}}"></td>
                        <td class="" ng-bind="::taskdata.taskState"></td>
                        <td class="" ng-bind="::taskdata.cronExpression"></td>-->
                        <!-- <td class="" ng-bind="::taskdata.preExcTime |date:'yyyy-MM-dd HH:mm:ss'" ></td>
                         <td class="" ng-bind="::taskdata.nextExcTime |date:'yyyy-MM-dd HH:mm:ss'" ></td>-->
                        <!--<td class="" ng-bind="::taskdata.createTime |date:'yyyy-MM-dd HH:mm:ss'"></td>-->
                        <!--<td class=""
                            ng-bind-html="::taskdata.taskDesc.length>7?taskdata.taskDesc.substring(0,7)+'...':taskdata.taskDesc"
                            title="{{taskdata.taskDesc}}"></td>-->


                        <td>
                            <!--<button class="btn btn-tablemng" data-ng-disabled="!hasPermission('modify_task')"
                                    data-ng-click="tasklist.editModel(taskdata.taskId,taskdata.beanName)">修改
                            </button>
                            <button class="btn btn-tablemng" data-ng-disabled="!hasPermission('trigger_task')"
                                    data-ng-click="tasklist.triggertask(taskdata.taskId,taskdata.beanName)">触发
                            </button>
                            <button class="btn btn-tablemng" data-ng-click="tasklist.pausetask(taskdata.taskId)"
                                    data-ng-disabled="!hasPermission('pause_task') || taskdata.taskState=='暂停'">暂停
                            </button>
                            <button class="btn btn-tablemng" data-ng-click="tasklist.resumeTask(taskdata.taskId)"
                                    data-ng-disabled="!hasPermission('resume_task') || taskdata.taskState=='正常'">恢复
                            </button>-->
                            <button class="btn btn-tablemng" data-ng-disabled="!hasPermission('history_task')"
                                    data-ng-click="tasklist.history(taskdata.triggerName, taskdata.jobName)">查看日志
                            </button>
                            <!--<button class="btn btn-tablemng" data-ng-disabled="!hasPermission('statistics_task')"
                                    data-ng-click="tasklist.data(taskdata.taskId)">数据统计
                            </button>
                            <button class="btn btn-tablemng" data-ng-disabled="!hasPermission('delete_task')"
                                    data-ng-click="tasklist.deleteTask(taskdata.taskId,taskdata.beanName)">删除
                            </button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </eayun-table>
        </form>
    </div>
</div>