<form class="form-horizontal" name="myForm" novalidate>
  <div class="form-group has-feedback">
    <label class="col-sm-3 control-label">所属数据中心：</label>
    <div class="col-sm-8" data-ng-class="(myForm.dcName.$dirty && myForm.dcName.$invalid) ? '' : ''">
      <eayun-select name="dcName" class="form-control" data-ng-model="add.volModel.dcId"  placeholder="请选择数据中心"  ng-change="add.changeDateCenter(add.volModel.dcId)" required>
        <eayun-option value="dc.id" text="{{dc.name}}" data-ng-repeat="dc in add.dcList" ></eayun-option>
      </eayun-select>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="col-sm-3 control-label">所属项目：</label>
    <div class="col-sm-8" data-ng-class="(myForm.prjName.$dirty && myForm.prjName.$invalid) ? '' : ''">
      <eayun-select name="prjName" class="form-control" data-ng-model="add.volModel.prjId"  placeholder="请选择项目" ng-change="add.changePrj()" required>
        <eayun-option value="project.projectId" text="{{project.prjName}}" data-ng-repeat="project in add.prjList" ></eayun-option>
      </eayun-select>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="col-sm-3 control-label">云硬盘名称：</label>
    <div class="col-sm-8" data-ng-class="(myForm.name.$dirty && myForm.name.$invalid) ? 'has-error' : ''">
      <input type="text" class="form-control" style="padding-right:10px;" name="name" data-ng-model="add.volModel.volName"  placeholder="请输入云硬盘名称" maxlength="63" data-ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9]([\u4e00-\u9fa5_a-zA-Z0-9\s]{0,61}[\u4e00-\u9fa5a-zA-Z0-9]){0,1}$/" required  ajax-valid="add.checkVolumeName(value)">
      <label class="control-label" ng-class="myForm.name.$dirty && myForm.name.$error.required?'':'hide'">请输入1-63位字符,支持数字、中英文、下划线、空格</label>
      <label class="control-label" ng-class="myForm.name.$dirty && myForm.name.$error.ajaxValid?'':'hide'">云硬盘名称已存在</label>
      <label class="control-label"  ng-class="myForm.name.$dirty && myForm.name.$error.pattern?'':'hide'">请输入1-63位字符,支持数字、中英文、下划线、空格</label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">描述：</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="3" name="desc" placeholder="请输入描述" data-ng-model="add.volModel.volDescription" maxlength="200"></textarea>
    </div>
  </div>
  
  <div class="form-group has-feedback">
    <label class="col-sm-3 control-label">云硬盘容量：</label>
    <div class="col-sm-6 row" data-ng-class="(myForm.size.$dirty && myForm.size.$invalid) ? 'has-error' : ''">
	   	<div class="col-sm-6">
	   		<input  class="form-control" style="padding-right:10px;" name="size" data-ng-model="add.volModel.volSize" data-ng-pattern="/^([1-9]|[1-9][0-9]+)$/" required ajax-valid="add.checkVolumeSize(value)" >
	   	</div>
	   	<div>
	   		<span class="control-label col-sm-1" style="padding-left: 0px!important;">GB</span>
	   	</div>
	   	<div class="col-sm-9">
		   	<label class="control-label" ng-class="myForm.size.$dirty && myForm.size.$error.required?'':'hide'">请输入1-2048的正整数</label>
	        <label class="control-label" ng-class="myForm.size.$dirty && myForm.size.$error.ajaxValid?'':'hide'">请输入1-2048的正整数</label>
            <label class="control-label" ng-class="myForm.size.$dirty && myForm.size.$error.pattern?'':'hide'">请输入1-2048的正整数</label>
        </div>
    </div>
  </div>
 
 
 <!-- 按钮区域 -->
 <!-- <div class="modal-footer" >
    <button type="button" class="btn btn-primary btn-modal" ng-click="commit()"  ng-disabled="!myForm.$valid">确  定</button>
    <button type="button" class="btn btn-default btn-modal btn-left" ng-click="cancel()">取  消</button>
  </div>  -->
</form>
