<div style="min-width: 420px;max-width: 720px;">
	<div class="modal-header">
    <span class="modal-title">
    </span>
		<img ng-click="cancel()" src="images/close.png">
	</div>

	<div class="modal-body">
		<div class="modal-confirm" style="word-break:break-all;">数据盘
			<span class="delete-resoure-color">{{model.$$volName}}</span>
			将回滚到<span class="delete-resoure-color">{{model.createTimeForDis|date:'yyyy-MM-dd HH:mm:ss'}}</span>的状态，此刻之后的数据将被清除，请谨慎操作。
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary btn-modal" ng-click="ok()">确 定</button>
		<button class="btn btn-default btn-modal" ng-click="cancel()" style="margin-left:15px;">取 消</button>

	</div>
</div>
<style>
	.delete-resoure-color {
		color: #0077cc;
	}
</style>
