<div>
	<ng-form name="editVolumeDescriptionTable">
	<div class="col-md-10" style="padding-left: 0px;">
		<textarea class="form-control" name="volDescription" type="text" maxlength="200" placeholder="请输入描述" data-ng-model="volumeDetail.volEditModel.volDescription">
		</textarea>
	</div>
	<span class="badge" style="margin-left:10px;background-color:green;color:#ffffff;" data-ng-class="" data-ng-click="volumeDetail.saveEdit('volDesc')">
      	<span class="glyphicon glyphicon-ok">
     	</span> 
    </span>
	<span class="badge" data-ng-click="volumeDetail.cancleEdit('volDesc')">
      	<span class="glyphicon glyphicon-remove">
      	</span> 
    </span>
    </ng-form>
</div>
	