<form class="form-horizontal" name="myForm">

    <!--名称 -->
    <div class="form-group">
        <label class="col-sm-3 control-label">名称：</label>

        <div class="col-sm-8"
             data-ng-class="(myForm.name.$dirty && (myForm.name.$invalid||edit.checkName)) ? 'has-error' : ''">
            <input type="text" class="form-control" maxlength="20" name="name" data-ng-model="edit.vip.vipName"
                   ng-pattern='/^[\u4e00-\u9fa5a-zA-Z0-9]([\u4e00-\u9fa5_a-zA-Z0-9\s]{0,18}[\u4e00-\u9fa5a-zA-Z0-9]){0,1}$/'
                   ng-change="edit.checkNameExist()" placeholder="请输入VIP名称" required>
            <label class="control-label"
                   ng-show="myForm.name.$dirty && myForm.name.$invalid">请输入1-20位字符,支持数字、中英文、下划线、空格</label>
            <label class="control-label"
                   ng-show="myForm.name.$dirty && myForm.name.$valid && edit.checkName">名称已存在</label>
        </div>
    </div>

    <!-- 超时 -->
    <div class="form-group has-feedback">
        <label class="col-sm-3 control-label">连接限制数：</label>

        <div class="col-sm-4" data-ng-class="(myForm.connectionLimit.$dirty && myForm.connectionLimit.$invalid) ? 'has-error' : ''">
            <input type="text" class="form-control" maxlength="5" ng-pattern="/^[0-9]*[1-9][0-9]*$/"
                   name="connectionLimit" data-ng-model="edit.vip.connectionLimit" placeholder="请输入大于0的整数" required>
        </div>
        <div class="col-sm-4" data-ng-class="(myForm.connectionLimit.$dirty && myForm.connectionLimit.$invalid) ? 'has-error' : ''">
            <label class="control-label">请输入大于0的整数</label>
        </div>
    </div>


    <!-- 按钮区域 -->
    <!--<div class="modal-footer" >-->
    <!--<button type="button" class="btn btn-primary btn-modal" ng-click="edit.commit()"  ng-disabled="!myForm.$valid||edit.checkName||checkBtn">确  定</button>-->
    <!--<button type="button" class="btn btn-default btn-modal" style="margin-left:15px;" ng-click="cancel()">取  消</button>-->
    <!--</div>-->


</form>
