<!-- 当前位置下拉列表 -->
<div class="title-inline">
    <div class="form-group">
        <label class="control-label">当前位置：
            <a style="cursor: pointer;" data-ui-sref="app.workorder">工单管理</a>&nbsp;>
            <span> 编辑工单</span>
        </label>
    </div>
</div>
<div class="panel panel-default clearfix">
    <div class="panel-body">
        <h4>编辑工单</h4>

        <form class="form-horizontal row" name="editWork" novalidate>
            <div class="form-group">
                <label class="col-sm-1 control-label"><strong>系统信息</strong></label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">提交人：</label>
                <label class="col-sm-1 control-label" style="text-align: left;">{{edit.workorder.workCreUserName}}</label>
                <label class="col-sm-1 control-label">流程状态：</label>
                <label class="col-sm-1 control-label" style="text-align: left;">{{edit.workorder.workFalgName}}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label"><strong>客户信息</strong></label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">客户名称：</label>
                <label class="col-lg-1 control-label" style="text-align: left;">{{edit.workorder.workCusName}}</label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">申请人账号：</label>
                <label class="col-lg-1 control-label" style="text-align: left;">{{edit.workorder.workApplyUserName}}</label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">联系手机：</label>
                <label class="col-lg-1 control-label" style="text-align: left;">{{edit.workorder.workPhone}}</label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">联系邮箱：</label>
                <label class="col-lg-1 control-label" style="text-align: left;">{{edit.workorder.workEmail}}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label"><strong>工单信息</strong></label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">事件类别：</label>
                <label class="col-lg-1 control-label" style="text-align: left;">{{edit.workorder.workTypeName}}</label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">事件标题：</label>

                <div class="col-sm-3 has-feedback"
                     data-ng-class="(editWork.workTitle.$dirty && editWork.workTitle.$invalid) ? 'has-error' : ''">
                    <input type="text" class="form-control" name="workTitle" data-ng-model="edit.workorder.workTitle" maxlength="45"
                           placeholder="请输入事件标题" required>
                    <label class="control-label"
                           data-ng-show="editWork.workTitle.$dirty && editWork.workTitle.$error.required">请输入事件标题</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">事件描述：</label>

                <div class="col-sm-3 has-feedback"
                     data-ng-class="(editWork.workContent.$dirty && editWork.workContent.$invalid) ? 'has-error' : ''">
                    <textarea type="text" class="form-control" name="workContent" data-ng-model="edit.workorder.workContent" maxlength="2000"
                              placeholder="请输入事件描述" required></textarea>
                    <label class="control-label"
                           data-ng-show="editWork.workContent.$dirty && editWork.workContent.$error.required">请输入事件描述</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">事件级别：</label>
                <label class="col-lg-1 control-label" style="text-align: left;">{{edit.workorder.workLevelName}}</label>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"></label>

                <div class="col-lg-4 form-group">
                    <button type="button" class="btn btn-primary btn-lg" data-ng-click="edit.editWorkorder(edit.workorder)"
                            style="margin: 0px 15px;" ng-disabled="editWork.$invalid">提交
                    </button>
                    <button type="button" class="btn btn-default btn-lg" data-ui-sref="app.workorder">取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>