<div class="modal-header">
    <span class="modal-title">编辑镜像描述</span>
</div>
<div class="modal-body" style="width: 800px;">
    <form class="ey-form " name="myForm" novalidate>

        <div class="ey-form-group" >
            <wysiwyg  content="marketdescedit.item.marketimageDepict"></wysiwyg>
        </div>

        <div class="modal-footer" >
            <button type="button" class="btn btn-primary btn-modal" data-ng-click="marketdescedit.commit()">确  定</button>
            <button type="button" class="btn btn-default btn-modal" data-ng-click="marketdescedit.cancel()">取  消</button>
        </div>

    </form>
</div>















<!--
<form class="form-horizontal" name="edit" novalidate>



    <div class="form-group">
        <wysiwyg  content="marketdescedit.item.marketimageDepict"></wysiwyg>
    </div>




    <div class="modal-footer" >
        <button type="button" class="btn btn-primary btn-modal" data-ng-click="commit()">确  定{{marketdescedit.item.marketimageDepict}}</button>
        <button type="button" class="btn btn-default btn-modal" data-ng-click="cancel()">取  消</button>
    </div>
</form>-->
