<ul class="dropdown-menu date-time-picker" ng-if="isOpen" style="display: block"
    ng-style="{top: position.top+'px', left: position.left+'px'}" ng-keydown="keydown($event)"
    ng-click="$event.stopPropagation()">
    <li ng-transclude></li>
    <!--<li ng-if="showButtonBar" style="padding:10px 9px 2px;text-align: center">-->
    <!--&lt;!&ndash;<button class="btn btn-primary" ng-click="close()">确定</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn btn-picker" ng-click="select('today')">当前时间</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn btn-picker" ng-click="select(null)">重置</button>&ndash;&gt;-->
    <!--</li>-->
</ul>
